*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Poppins,sans-serif;

}

body{

background:#071221;

color:white;

}



.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 6%;

border-bottom:1px solid rgba(255,255,255,.08);

}

.logo{

display:flex;

align-items:center;

gap:15px;

}

.logo img{

width:55px;

}

.logo span{

font-size:24px;

font-weight:700;

}

.search input{

width:350px;

padding:14px;

border:none;

border-radius:12px;

background:#152842;

color:white;

}

.right{

display:flex;

align-items:center;

gap:25px;

}

.profile{

display:flex;

align-items:center;

gap:12px;

}

.profile img{

width:45px;

height:45px;

border-radius:50%;

}



.dashboard{

width:90%;

max-width:1400px;

margin:70px auto;

}

.dashboard h1{

font-size:54px;

}

.dashboard p{

margin:20px 0 50px;

color:#b7c7df;

}

.editor-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:40px;

}

.editor-card{

background:rgba(255,255,255,.05);

padding:50px;

border-radius:25px;

border:1px solid rgba(255,255,255,.08);

transition:.35s;

}

.editor-card:hover{

transform:translateY(-10px);

border-color:#42d9ff;

}

.editor-card i{

font-size:70px;

color:#42d9ff;

margin-bottom:30px;

}

.editor-card h2{

margin-bottom:20px;

}

.editor-card p{

margin-bottom:35px;

}

.editor-card a{

text-decoration:none;

color:#42d9ff;

font-weight:600;

}